body {
  background-color: #232323;
  margin: 0px;
  font-family: "Abril Fatface", cursive;
}
h1 {
  color: rgb(220, 220, 220);
  text-align: center;
  background-color: royalblue;
  margin: 0px;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
  transition: background 0.7s;
}

.square {
  width: 30%;
  background-color: burlywood;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 25%;
  transition: background 0.7s;
}
span {
  color: rgb(220, 220, 220);
  text-align: center;
}

#container {
  max-width: 600px;
  margin: 20px auto;
}
#stripe {
  background-color: rgb(220, 220, 220);
  height: 30px;
  text-align: center;
}

#message {
  color: royalblue;
}
button {
  height: 100%;
  background-color: rgb(220, 220, 220);
  border: 0px;
  font-family: "Abril Fatface", cursive;
  font-size: 130%;
  color: royalblue;
  text-transform: uppercase;
  transition: all 0.5s;
  outline: none;
}
button:hover {
  background-color: royalblue;
  color: rgb(220, 220, 220);
}
.selected {
  background-color: royalblue;
  color: rgb(220, 220, 220);
}
#colorDisplay {
  font-size: 200%;
}
#message {
  color: royalblue;
  font-size: 135%;
  text-transform: uppercase;
  display: inline-block;
  width: 20%;
}
