body {
  background-color: #232323;
}
h1 {
  color: snow;
  text-align: center;
  background-color: royalblue;
}

.square {
  width: 30%;
  background-color: burlywood;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}
span {
  color: whitesmoke;
  text-align: center;
  font-size: 24px;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}
#stripe {
  background-color: rgb(220, 220, 220);
}
#reset:hover {
  background-color: royalblue;
}
#message {
  color: royalblue;
}
